@model TaskDetailsViewModel
@{
    ViewBag.Title = "TaskDetails";
}

<h1>Task Details:</h1>

@using (Html.BeginForm())
{
    <h3>Task info:</h3>
        
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title) <br />
    

    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description)<br />

    @Html.LabelFor(x => x.Priority)
    @Html.DropDownListFor(x => x.Priority, Html.GetEnumSelectList(Model.Priority.GetType()))<br />

    @Html.LabelFor(x => x.Status)
    @Html.DropDownListFor(x => x.Status, Html.GetEnumSelectList(Model.Status.GetType()))<br />

    @Html.LabelFor(x => x.Type)
    @Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList(Model.Type.GetType()))
}
