@model AddStudentViewModel
@{
    ViewBag.Title = "Add a Student";
}

<h1>Add a Student:</h1>

@using (Html.BeginForm())
{
    <h3>Student info:</h3> <br />

    @Html.HiddenFor(x => x.Id)

    @Html.LabelFor(x => x.FirstName)
    @Html.TextBoxFor(x => x.FirstName)<br /><br />

    @Html.LabelFor(x => x.LastName)
    @Html.TextBoxFor(x => x.LastName)<br /><br />

    @Html.LabelFor(x => x.Age)
    @Html.TextBoxFor(x => x.Age)<br /><br />

    @Html.LabelFor(x => x.Academy)
    @Html.DropDownListFor(x => x.Academy, Html.GetEnumSelectList(Model.Academy.GetType()))<br />

    <br /><br />

    <button type="submit"> Add a Student </button>
}
